.first-step {
  padding-top: 12.5rem;
  @media (max-width: 50rem) {
    padding-top: 5rem;
  }
  // .first-step__container

  &__container {
  }

  // .first-step__body

  &__body {
    display: grid;
    gap: 0 1.25rem;
    grid-template-columns: repeat(2, calc(50% - .625rem));
    grid-template-rows: repeat(3, auto);
    @media (max-width: 61.875rem) {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: auto 12.5rem auto;
    }
    @media (max-width: 32.5rem) {
      grid-template-rows: auto 9.375rem auto;
    }
  }

  // .first-step__item

  &__item {
    // .first-step__item_icon

    &_icon {
      position: relative;
      pointer-events: none;
      @media (max-width: 32.5rem) {
        grid-row: 2 / 3;
        grid-column: 1 / 4;
      }
      .first-step__icon {
        position: absolute;
        left: 0;
        top: -1.5625rem;
        pointer-events: none;
        @media (max-width: 61.875rem) {
          width: 17.5rem;
          left: unset;
          top: 0;
          right: -3.125rem;
          @media (max-width: 32.5rem) {
            width: 15rem;
            top: -1.25rem;
            left: 0;
            right: 0;
            margin: 0 auto;
          }
        }
      }
      .first-step__icon_bg {
        position: absolute;
        pointer-events: none;
        left: -13.125rem;
        top: -34.375rem;
        z-index: -10;
        @media (max-width: 61.875rem) {
          left: unset;
          right: -9.375rem;
          top: -8.125rem;
          width: 25rem;
          @media (max-width: 32.5rem) {
            top: -9.375rem;
            left: 0;
            right: 0;
            bottom: 0;
            margin: 0 auto;
            opacity: 0.5;
          }
        }
      }
    }
  }

  // .first-step__icon

  // .first-step__heading

  &__heading {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    margin-bottom: 1rem;
    .heading {
      text-align: left;
    }
    @media (max-width: 61.875rem) {
      grid-column: 1 / 4;
      .heading {
        text-align: center;
        text-wrap: balance;
        @media (max-width: 50rem) {
        font-size: 1.75rem;
        max-width: 36rem;
        }
      }
    }
  }

  // .first-step__text

  &__text {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    margin-bottom: 2rem;
    @media (max-width: 61.875rem) {
      grid-column: 2 / 4;
      grid-row: 2 / 3;
      align-self: center;
      width: 90%;
      text-wrap: balance;
      margin-left: auto;
      margin-bottom: 0;
      @media (max-width: 32.5rem) {
        grid-column: 1 / 4;
        grid-row: 3 / 4;
        text-align: center;
        margin: 0 auto 2rem auto;
      }
    }
  }

  // .first-step__button

  &__button {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    @media (max-width: 61.875rem) {
      grid-column: 1 / 4;
      
      justify-self: center;
      align-self: center;
      @media (max-width: 32.5rem) {
        grid-row: 4 / 5;
      }
    }
    .button_gradient {
    }
  }
}
