.header {
  &__container {
    display: flex;
    min-height: 5rem;
    align-items: center;
    justify-content: space-between;
  }
}

.header {
  // .header__container

  &__container {
  }

  // .header__logo

  &__logo {
    position: relative;
    z-index: 10;
  }

  // .header__menu

  &__menu {
  }

  // .header__action

  &__action {
  }
}

.menu {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: end;

  @media (max-width: 40rem) {
    & {
      flex-direction: column;
      position: fixed;
      top: 0;
      left: -100%;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.9);
      padding: 2.5rem 1.875rem 1.875rem 1.875rem;
      transition: left 0.3s ease 0s;
      overflow: auto;
      z-index: 1;
    }
    &._active {
      left: 0;
    }
  }

  // .menu__list

  &__list {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    @media (max-width: 40rem) {
      flex-direction: column;
      justify-content: space-evenly;
    }
  }

  // .menu__item

  &__item {
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1;

    &:not(:last-of-type) {
      padding-right: 2rem;
      @media (max-width: 50.625rem) {
        padding-right: 1rem;
      }
    }
    &:first-of-type {
      padding-left: 5.625rem;
    }
    @media (max-width: 56rem) {
      &:first-of-type {
        padding-left: 0;
      }
    }
  }

  // .menu__link
  &__link {
    color: inherit;
    &:hover {
      text-decoration: underline;
    }
    @media (min-width: 40rem) and (max-width: 56rem) {
      font-size: 0.75rem;
    }
    @media (max-width: 40rem) {
      font-size: 1.125rem;
    }
  }
  .action-header {
    display: flex;
    // .action-header__button
    &__button:not(:last-of-type) {
      margin-right: 0.75rem;
    }
    .button_transparent {
      width: 5.875rem;
      height: 2.375rem;
      &:after {
        content: "Sign in";
      }
      &:before {
        width: 6rem;
        height: 2.5rem;
      }
      @media (max-width: 50.625rem) {
        font-size: 0.875rem;
        width: 4.625rem;
        &::before {
          width: 4.75rem;
        }
      }
    }

    .button_gradient {
      width: 6rem;
      height: 2.5rem;
      &::before {
        width: 5.875rem;
        height: 2.375rem;
        content: "Sign up";
      }
      @media (max-width: 50.625rem) {
        font-size: 0.875rem;
        width: 4.75rem;
        &::before {
          width: 4.625rem;
        }
      }
    }
  }
}

.icon-menu {
  @media (min-width: 40rem) {
    display: none;
  }
  @media (max-width: 39.9375rem) {
    background-color: transparent;
    z-index: 5;
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
    & span,
    &:before,
    &:after {
      left: 0;
      position: absolute;
      height: 10%;
      width: 100%;
      transition: all 0.3s ease 0s;
      background-color: #fff;
    }

    &:before,
    &:after {
      content: "";
    }
    &:before {
      top: 0;
    }
    &:after {
      bottom: 0;
    }
    & span {
      top: 50%;
      transform: scale(1) translate(0px, -50%);
    }
    &._active span {
      transform: scale(0) translate(0px, 50%);
    }
    &._active::before {
      top: 50%;
      transform: rotate(-45deg) translate(0px, -50%);
    }
    &._active::after {
      bottom: 50%;
      transform: rotate(45deg) translate(0px, 50%);
    }
  }
}

//Burger alien

// @media (max-width: 767px) {
//   .menu__body {
//     position: fixed;
//     top: 0;
//     left: -100%;
//     width: 100%;
//     height: 100%;
//     background: rgba(0, 0, 0, 0.9);
//     padding: 100px 30px 30px 30px;
//     transition: left 0.3s ease 0s;
//     overflow: auto;
//   }
//   .menu__body._active {
//     left: 0;
//   }
//   .menu__body::before {
//     content: "";
//     position: fixed;
//     width: 100%;
//     top: 0;
//     left: 0;
//     height: 70px;
//     background-color: #912105;
//     z-index: 2;
//   }
// }
