.page {
  // .page__intro

  &__intro {
  }
}
.intro {
  margin-top: 9.9375rem;
  @media (max-width: 87.5rem) {
    margin-top: 3rem;
  }
  @media (max-width: 85rem) {
    margin-top: 2rem;
  }
  @media (max-width: 48.75rem) {
    margin-top: 0;
  }
  // .intro__header

  &__heading {
    max-width: 48.75rem;
    font-size: 5.3125rem;
    background-image: url(../img/bg/bg_layer1/glass.png);
    background-repeat: no-repeat;
    background-position: 3.4375rem 4.75rem;
    padding-bottom: 1rem;
    @media (max-width: 85rem) {
      background-image: none;
      font-size: 3rem;
      max-width: 30rem;
    }
    @media (max-width: 48.75rem) {
      max-width: 20rem;
      font-size: 2rem;
    }
    @media (max-width: 26.875rem) {
    }
  }

  // .intro__text

  &__text {
    max-width: 36.25rem;
    margin: 0 auto 0 auto;

    text-align: center;

    @media (max-width: 85rem) {
      max-width: 30rem;
    }
    @media (max-width: 48.75rem) {
      max-width: 20rem;
    }
  }

  // .intro__button

  &__button {
    margin: 2rem auto 0 auto;
  }
}

.button {
}
