.promo {
  position: relative;
  padding-top: 8.75rem;
  @media (max-width: 50rem) {
    padding-top: 2rem;
  }
  // .promo__container
  &__container {
    position: relative;
  }
  &__bg.star {
    position: absolute;
    right: 3.9375rem;
    top: 13.8125rem;
    z-index: -1;
    @media (max-width: 87.5rem) {
      top: unset;
      bottom: -1.875rem;
      right: .625rem;
    }
  }
  &__bg.spring {
    position: absolute;
    right: -32.625rem;
    top: -8.75rem;
    z-index: -2;
  }
  // .promo__heading

  &__heading {
    max-width: 62.5rem;
    margin: 0 auto 1rem auto;
    @media (max-width: 87.5rem) {
      margin: 2rem auto 1rem auto;
    }
    @media (max-width: 50rem) {
      max-width: 37.5rem;
      font-size: 1.75rem;
      text-wrap: balance;
    }
    @media (max-width: 26.25rem) {
      font-size: 1.5rem;
    }
  }

  // .promo__text

  &__text {
    max-width: 36.25rem;
    text-align: center;
    margin: 1rem auto 2rem auto;
    @media (max-width: 50rem) {
      text-wrap: balance;
    }
  }

  // .promo__button

  &__button {
    margin: 0 auto;
  }
}
