.support {
  padding-top: 8.75rem;
  @media (max-width: 50rem) {
    padding-top: 5rem;
  }
  // .support__container

  &__container {
  }

  // .support__body

  &__body {
    display: grid;
    gap: 0 1.25rem;
    grid-template-columns: repeat(2, calc(50% - .625rem));
    grid-template-rows: repeat(3, auto);
    @media (max-width: 61.875rem) {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: auto 9.375rem auto;
    }

  }

  // .support__item

  &__item {
    // .support__item_icon

    &_icon {
      position: relative;
      @media (max-width: 32.5rem) {
        grid-row: 2 / 3;
        grid-column: 1 / 4;
      }
      .support__icon {
        position: absolute;
        pointer-events: none;
        left: 11.3793103%;
        top: .875rem;
        @media (max-width: 61.875rem) {
          width: 9.375rem;
          left: unset;
          right: -3.125rem;
          @media (max-width: 32.5rem) {
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: 0 auto;
          }
        }
      }
      .support__icon_bg {
        position: absolute;
        pointer-events: none;
        left: -29.3125rem;
        top: -28.0625rem;
        z-index: -10;
        @media (max-width: 61.875rem) {
          left: unset;
          right: -3.75rem;
          top: -8.125rem;
          width: 25rem;
          @media (max-width: 32.5rem) {
            top: -8.125rem;
            left: 0;
            right: 0;
            bottom: 0;
            margin: 0 auto;
            opacity: 0.5;
          }
        }
      }
    }
  }

  // .support__icon

  // .support__heading

  &__heading {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    margin-bottom: 1rem;
    .heading {
      text-align: left;
    }
    @media (max-width: 61.875rem) {
      grid-column: 1 / 4;
      .heading {
        text-align: center;
        text-wrap: balance;
        @media (max-width: 50rem) {
        font-size: 1.75rem;
        max-width: 36rem;
        }
      }
    }
  }

  // .support__text

  &__text {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    margin-bottom: 2rem;
    @media (max-width: 61.875rem) {
      grid-column: 2 / 4;
      grid-row: 2 / 3;
      align-self: center;
      width: 90%;
      text-wrap: balance;
      margin-left: auto;
      margin-bottom: 0;
      @media (max-width: 32.5rem) {
        grid-column: 1 / 4;
        grid-row: 3 / 4;
        text-align: center;
        margin: 0 auto 2rem auto;
      }
    }
  }

  // .support__button

  &__button {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    @media (max-width: 61.875rem) {
      grid-column: 1 / 4;
      
      justify-self: center;
      align-self: center;
      @media (max-width: 32.5rem) {
        grid-row: 4 / 5;
      }
    }
    .button_transparent {
    }
  }
}
